.titleBlock {
    position: relative;
    top: 110px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(60, 63, 60);
    color: white;
    padding: 100px 225px;
    margin: 0 180px;
}

.titleBlock button {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 20px 50px;
    background-color: #8447E9;
    color: white;
    margin-top: 40px;
}